services:
  prometheus:
    image: prom/prometheus:v2.55.0
    container_name: prometheus
    restart: unless-stopped
    environment:
      - "VIRTUAL_PORT=9090"
      - "VIRTUAL_HOST=${PROMETHEUS_VIRTUAL_HOST}"
      - "LETSENCRYPT_HOST=${PROMETHEUS_LETSENCRYPT_HOST}"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.enable-lifecycle

  grafana:
    image: grafana/grafana:10.4.2
    container_name: grafana
    restart: unless-stopped
    ports:
      - "${GRAFANA_LISTEN_HOST:-127.0.0.1}:${GRAFANA_LISTEN_PORT:-}:3000"
    environment:
      - "GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER:?}"
      - "GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD:?}"
      - "VIRTUAL_HOST=${GRAFANA_VIRTUAL_HOST}"
      - "LETSENCRYPT_HOST=${GRAFANA_LETSENCRYPT_HOST}"
      - "VIRTUAL_PORT=3000"
    volumes:
      - grafana_data:/var/lib/grafana

  node-exporter:
    image: prom/node-exporter:v1.8.1
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - "/:/rootfs:ro"
    command:
      - "--path.rootfs=/host"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.55.1
    container_name: cadvisor
    restart: unless-stopped
    command:
      - "--housekeeping_interval=30s"
      - "--docker_only=true"
      - "--disable_metrics=sched,tcp,udp,hugetlb,referenced_memory,cpu_topology,resctrl"
    volumes:
      - "/:/rootfs:ro"
      - "/var/run:/var/run:ro"
      - "/sys:/sys:ro"
      - "/var/lib/docker/:/var/lib/docker:ro"
      - "/dev/disk/:/dev/disk:ro"
      - "/etc/machine-id:/etc/machine-id:ro"

volumes:
  prometheus_data:
  grafana_data:
